<div class="card padding margin-top">
  <h2 class="text-uppercase"><%= article.title %></h2>
  <p class="text-secondary"><%= article.created_at %></p>
  <span><%= link_to "Read more", article, class: 'btn btn-info' %></span>
</div>